{
  "extends": "stylelint-config-sass-guidelines",
  "rules": {
    "selector-max-id": 1,
    "indentation": 2,
    "string-quotes": "double",
    "color-hex-case": "lower",
    "color-hex-length": "long",
    "max-nesting-depth": 2,
    "selector-list-comma-newline-after": "never-multi-line",
    "rule-empty-line-before": [ "always", {
      "except": ["inside-block-and-after-rule"],
      "ignore": ["after-comment"]
    }],
    "scss/at-function-pattern": "^[A-Z]+([a-z0-9-]+[a-z0-9]+)?$",
    "scss/at-mixin-pattern": "^[A-Z]+([a-z0-9-]+[a-z0-9]+)?$",
    "scss/dollar-variable-pattern": "^[a-z]+(?:_[a-z]*)?(?:-[a-z0-9]*)?$",
    "selector-class-pattern": "^(?:(?:o|c|u|t|s|is|has|_|js|qa)-)?[a-zA-Z0-9]+(?:-[a-zA-Z0-9]+)*(?:__[a-zA-Z0-9]+(?:_[a-zA-Z0-9]+)*)?(?:_[a-zA-Z0-9]+(?:-[a-zA-Z0-9]+)*)?(?:\\[.+\\])?$"
  },
  "ignoreFiles": ["docs/*.*", "src/scss/base/_typography.scss", "src/scss/base/_forms.scss", "src/scss/utils/*.scss", "src/scss/vendor/*.scss", "src/ejs/**/*.ejs"]
}
