input[type="text"], input[type="email"], textarea {
  @include Transition(2, border-color);
  background-color: transparent;
  border: 0 solid $color_grey-20;
  border-bottom-width: 2px;
  border-radius: 0;
  box-shadow: none;
  color: $color_base-white;
  font-weight: 300;
  padding: 0 12px 10px;

  &:focus, &:active {
    border-color: $color_green-10;
  }
}

input:-webkit-autofill {
  animation-name: autofill;
  animation-fill-mode: both;
}

textarea {
  resize: none;
}

button {
  background-color: transparent;
  border: none;
  padding: 0;

  &:focus {
    outline: none;
  }
}


@keyframes autofill {

  to {
    color: $color_base-white;
    background: transparent;
  }
}
