// ================= Стили базовых тегов ==================
:root {
  --browser-address-bar: 0px;
}

* {
  outline: none;
}

h3 {
  font-size: Rem(24px);
  font-weight: 700;
}

a {
  @include Transition(2, color);
  font-weight: 400;
  color: $color_green-10;

  &:hover {
    color: $color_green-20;
    text-decoration: none;
  }
}

img {
  height: auto;
  max-width: 100%;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.arrow {
  //@include Transition(2, fill);
}

::placeholder {
  @include Transition(2, color);
  color: $color_blue-10;
}

::selection {
  background-color: $color_green-10;
}
