// ================= Стили базовых тегов ==================
:root {
  --browser-address-bar: 0px;
}

body {
  font-size: $font_size-body;
  min-width: 320px;

  &::before, &::after {
    content: "";
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: -1;
  }
  &::before {
    animation: zoomOutIn 40s linear infinite;
    background: $color_blue-20 url("/assets/img/header_bg.jpg") no-repeat 50%;
    background-size: cover;
    image-rendering: pixelated;
  }
  &::after {
    background-color: rgba($color_base-black, 0.45);
  }
}

h1, h2 {
  text-align: center;
  text-transform: uppercase;
}

h1 {
  font-size: Rem(48px);
  font-weight: 400;
}

h2 {
  font-size: Rem(38px);
  font-weight: 600;
}

h3 {
  font-size: Rem(24px);
  font-weight: 700;
}

a {
  @include Transition(2, color);
  font-weight: 400;
}

img {
  height: auto;
  width: 100%;
}

p {
  color: $color_base-black;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

main {
  position: relative;
  z-index: 1;
}

article p:last-of-type {
  margin-bottom: 0;
}

.block {
  overflow: hidden;
  padding: 100px 0;
}

.block-white {
  background-color: $color_base-white;
}

.block-brown {
  background-color: $color_grey-10;
}

.header {

  h2 {
    color: $color_blue-20;
    letter-spacing: 3px;
    margin: -15px 0 50px;

    &::first-letter {
      color: $color_green-10;
      font-family: $font_name-second;
      font-size: Rem(42px);
      margin-right: 1.5px;
    }
  }
  p {
    font-size: Rem(18px);
    margin-bottom: 40px;
    text-align: center;
  }
  hr {
    background-color: $color_grey-20;
    border: 0;
    display: block;
    height: 3px;
    margin: 35px auto 0;
    width: 100px;
  }
}

.arrow {
  @include Transition(2, fill);
}

* {
  outline: none;
}

::placeholder {
  @include Transition(2, color);
  color: $color_blue-10;
}

::selection {
  background-color: $color_green-10;
}


@include Screen-sm {

  h1 {
    font-size: Rem(38px);
  }
  h2 {
    font-size: Rem(32px);
  }
  .header {

    h2 {
      letter-spacing: 2px;
      margin: -10px 0 30px;

      &::first-letter {
        font-size: Rem(36px);
      }
      &::after {
        margin-top: 25px;
      }
    }
    p {
      margin-bottom: 30px;
    }
    hr {
      margin-top: 25px;
    }
  }
  .block {
    padding: 60px 0;
  }
}

@include Screen-xs {

  body {

    &::before {
      animation: none;
    }
  }
}
