<section id="<%= about.id %>" class="block block-white">
    <div class="container">
        <div class="header row">
            <div class="col">
                <h2 class="animated" data-animation="slide-in-left">
                    <%= about.header %>
                    <hr class="animated" data-animation="slide-in-left" data-delay="0.4s">
                </h2>
            </div>
        </div>
        <div class="about row">
            <div class="about__photo animated col-xl-2 offset-xl-1 col-md-3" data-animation="fade-in" data-delay="0.4s">
                <div class="about__photo-wrapper">
                    <img class="about__photo_img" alt="Maxim Efremov" src="/assets/img/photo.jpg" srcset="/assets/img/photo@2x.jpg 2x">
                </div>
            </div>
            <article class="about__article animated col-xl-8 col-md-9" data-animation="slide-in-right">
                <%- about.article %>
            </article>
        </div>
    </div>
</section>
