.about__photo {

  &-wrapper {
    align-items: center;
    border: 4px solid $color_grey-20;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    max-width: 160px;
    overflow: hidden;
    padding: 5px;
    position: relative;
    user-select: none;

    &::after {
      border: 5px solid $color_base-white;
      border-radius: 100%;
      content: "";
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }
}


@include Screen-sm {

  .about__photo {

    &-wrapper {
      margin: 0 auto 25px;
    }
  }
}
