.skills.animated {
  opacity: 1;
}

.skills__item {
  background-color: $color_grey-10;
  border-radius: 5px;
  margin-bottom: 20px;
  overflow: hidden;

  &_name {
    color: $color_base-white;
    font-weight: 400;
    line-height: 1.6;
    padding: 8px 0;
    text-align: center;
    text-transform: uppercase;
    width: 160px;
  }
  &_bar {
    height: 100%;
    left: 0;
    opacity: 0.6;
    position: absolute;
    top: 0;
    transition: width 1200ms ease-out 0s;

    &-wrapper {
      position: relative;
    }
  }
  &_percent {
    color: $color_blue-10;
    font-size: Rem(14px);
    font-weight: 400;
    text-align: center;
    width: 55px;
  }
}

.logos {
  padding-top: 20px;
}

.logos__item {
  @include Transition(3);
  margin-top: 25px;

  &:hover {
    filter: grayscale(1);
    transform: translate3d(0, -5px, 0);
  }
  &_img {
    height: 60px;
    width: 60px;
  }
}

@include Screen-sm {

  .skills__item {
    margin-bottom: 15px;

    &_name {
      font-size: Rem(14px);
    }
  }
  .logos {
    padding-top: 10px;

    &__item {
      margin-top: 20px;
    }
  }
}

@include Screen-xs {

  .skills__item {

    &_name {
      width: 45%;
    }
    &_percent {
      font-size: Rem(12px);
    }
  }
  .logos__item {

    &_img {
      height: 55px;
      width: 55px;
    }
  }
}

@media (min-width: #{$screen_sm-max + 1}) {

  .skills:not(.filled) .skills__item_bar {
    width: 0 !important;
  }
}
