.animated {
  opacity: 0;

  &.fade-in {
    animation: fadeIn 820ms ease both;
  }
  &.slide-in-fwd {
    animation: slideInFwd 820ms ease both;
  }
  &.slide-in-left {
    animation: slideInLeft 720ms ease both;
  }
  &.slide-in-right {
    animation: slideInRight 720ms ease both;
  }
}

@include Screen-sm {

  .animated {
    animation: none !important;
    opacity: 1;
  }
}
