.hero__career {
  color: inherit;
  font-size: Rem(24px);
}

@include Screen-md {

  .hero {

    &__career {
      font-size: Rem(22px);
    }
  }
}

@include Screen-xs {

  .hero {

    &__career {
      font-size: Rem(18px);
    }
  }
}
