.hero__career {
  color: inherit;
  font-size: Rem(24px);
}

@include Screen-md {

  .hero__career {
    font-size: Rem(22px);
  }
}

@include Screen-xs {

  .hero__career {
    font-size: Rem(18px);
  }
}
