// ==================== Цветовая палитра ==================
$color_base-white: #ffffff;
$color_base-black: #0b0a12;

$color_green-10: #a6b019;

$color_blue-10: #67808d;
$color_blue-20: #243f57;

$color_grey-10: #ebebeb;
$color_grey-20: #b2b3a1;
$color_grey-30: #666666;

$color_success: #008000;
$color_error: #ff0000;
