// ================ Переменные для шрифтов ================
$font_name-base: "Open Sans", sans-serif;
$font_name-second: "Beer Money", sans-serif;

$font_size-body: 16px;
$font_height-body: 1.4;
$font_weight-body: 300;
